@charset "utf-8";

body {
  margin: 0;
  background-color: #fff;
}

/* _guideIndexWrap */
._guideIndexWrap {
  min-width: 1900px;
}

/* _guideHeader */
._guideHeader {
  padding: 16px;
  border-bottom: 4px solid var(--guidePrimary500);
}
._guideHeader__title {
  margin: 0;
  font-size: 0;
  line-height: 0;
  text-align: center;
  color: var(--guideGray900);
}
._guideHeader__titleLink {
  display: inline-block;
  vertical-align: top;
  font-family: var(--guideFontFamilyCode);
  font-size: 40px;
  line-height: 1.3;
  color: inherit;
  text-decoration: none;
}
._guideHeader__nav {
  margin-top: 16px;
}
._guideHeader__navList {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  text-align: center;
}
._guideHeader__navItem {
  display: inline-block;
  vertical-align: top;
}
._guideHeader__navItem + ._guideHeader__navItem {
  margin-left: 8px;
}
._guideHeader__navLink {
  display: block;
  text-decoration: none;
  font-family: var(--guideFontFamilyCode);
  font-size: 16px;
  line-height: 1.3;
  font-weight: 700;
  color: var(--guideWhite);
  padding: 6px 16px;
  border-radius: 4px;
  background-color: var(--guidePrimary900);
}
._guideHeader__navLink--secondary {
  background-color: var(--guideRed600);
}

/* _guideIndexSection */
._guideIndexSection + ._guideIndexSection {
  border-top: 8px solid var(--guideGray50);
}
._guideIndexSection__title {
  margin: 0;
  font-family: var(--guideFontFamilyCode);
  font-size: 16px;
  line-height: 1.3;
  color: var(--guideWhite);
  padding: 8px 16px;
  background-color: var(--guideGray900);
}
._guideIndexSection.isClicked {
  animation: _guideIndexSection__clicked 0.8s linear;
}
@keyframes _guideIndexSection__clicked {
  0% {
    background-color: rgba(var(--guideErrorRgb), 0);
  }
  30% {
    background-color: rgba(var(--guideErrorRgb), 0.4);
  }
  70% {
    background-color: rgba(var(--guideErrorRgb), 0.4);
  }
  100% {
    background-color: rgba(var(--guideErrorRgb), 0);
  }
}

/* _guideIndexTable */
._guideIndexTable > table {
  width: 100%;
  table-layout: fixed;
  margin: 0;
  padding: 0;
  border-collapse: separate;
  border-spacing: 0;
  box-sizing: border-box;
}
._guideIndexTable > table > thead > tr > th,
._guideIndexTable > table > tbody > tr > td,
._guideIndexTable > table > tfoot > tr > td {
  box-sizing: border-box;
  font-family: var(--guideFontFamilyCode);
  font-size: 13px;
  line-height: 1.3;
  color: var(--guideGray900);
  text-align: left;
  vertical-align: top;
  padding: 6px 8px;
  word-break: break-all;
  border: 0 solid var(--guideGray100);
}
._guideIndexTable > table > thead > tr > th + th,
._guideIndexTable > table > tbody > tr > td + td,
._guideIndexTable > table > tfoot > tr > td + td {
  border-left-width: 1px;
}
._guideIndexTable > table > thead > tr > th {
  border-color: var(--guidePrimary300);
  border-bottom-width: 1px;
  background-color: var(--guidePrimary100);
}
._guideIndexTable > table > tbody > tr > td {
  border-bottom-width: 1px;
}
._guideIndexTable > table > tbody > tr:hover > td {
  background-color: rgba(var(--guideGray50Rgb), 0.3);
}
._guideIndexTable > table > tbody > tr.isEmphasis > td {
  background-color: rgba(var(--guideWarningRgb), 0.2);
}
._guideIndexTable > table > tbody > tr.isEmphasis:hover > td {
  background-color: rgba(var(--guideWarningRgb), 0.4);
}
._guideIndexTable > table > tbody > tr.isDelete > td {
  background-color: var(--guideGray50);
}
._guideIndexTable > table > tbody > tr.isDelete > td,
._guideIndexTable > table > tbody > tr.isDelete > td._guideIndexTable__update.isEmphasis,
._guideIndexTable > table > tbody > tr.isDelete > td ._guideIndexTable__link,
._guideIndexTable > table > tbody > tr.isDelete > td ._guideIndexLog,
._guideIndexTable > table > tbody > tr.isDelete > td ._guideIndexLog__item,
._guideIndexTable > table > tbody > tr.isDelete > td ._guideIndexLog__date {
  color: var(--guideGray200);
  text-decoration: line-through;
}
._guideIndexTable > table > tbody > tr > td._guideIndexTable__type {
  color: var(--guidePrimary600);
}
._guideIndexTable > table > tbody > tr > td._guideIndexTable__status {
  font-size: 0;
  line-height: 0;
}
._guideIndexTable > table > tbody > tr > td._guideIndexTable__create.isEmphasis,
._guideIndexTable > table > tbody > tr > td._guideIndexTable__update.isEmphasis {
  font-weight: 700;
  color: var(--guideError);
}

/* _guideIndexLog */
._guideIndexLog {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: var(--guideFontFamilyCode);
  font-size: 13px;
  line-height: 1.3;
  color: var(--guideGray900);
}
._guideIndexLog__item + ._guideIndexLog__item {
  margin-top: 8px;
}
._guideIndexLog__item {
  position: relative;
  padding-left: 70px;
}
._guideIndexLog__date {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  color: var(--guideGray500);
}
._guideIndexLog__text {
  display: block;
}
._guideIndexLog__item.isEmphasis,
._guideIndexLog__item.isEmphasis ._guideIndexLog__date {
  font-weight: 700;
  color: var(--guideError);
}

/* _guideStatus */
._guideStatus {
  display: inline-block;
  vertical-align: top;
  font-family: var(--guideFontFamilyCode);
  font-size: 12px;
  line-height: 1.3;
  font-weight: 700;
  color: var(--guideGray900);
  padding: 4px 8px;
  margin: -4px 0;
  border-radius: 4px;
  color: var(--guideWhite);
  background-color: var(--guideGray500);
}
._guideStatus--ing {
  background-color: var(--guideYellow500);
}
._guideStatus--end {
  background-color: var(--guideComplete);
}
._guideStatus--moding {
  background-color: var(--guideRed500);
}
._guideStatus--pending {
  background-color: var(--guideGreen500);
}
._guideStatus--delete {
  background-color: var(--guideGray300);
}

/* _guideIndexStatus */
._guideIndexStatus {
  padding: 16px;
  font-family: var(--guideFontFamilyCode);
}
._guideIndexStatus__list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  text-align: center;
}
._guideIndexStatus__item {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
._guideIndexStatus__item + ._guideIndexStatus__item {
  margin-left: 33px;
}
._guideIndexStatus__item + ._guideIndexStatus__item::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: -17px;
  width: 1px;
  height: 24px;
  margin-top: -12px;
  background-color: var(--guideGray50);
}
._guideIndexStatus__itemTitle {
  display: block;
  font-size: 12px;
  line-height: 1.3;
  color: var(--guideGray600);
}
._guideIndexStatus__itemText {
  display: block;
  margin-top: 4px;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 700;
  color: var(--guideGray900);
}

/* _guideIndexNav */
._guideIndexNav__block {
  position: fixed;
  z-index: 1000;
  left: 0;
  bottom: 0;
  width: 100%;
  min-width: 1900px;
  border-top: 1px solid rgba(var(--guideGray100Rgb), 0.8);
  background-color: rgba(var(--guideWhiteRgb), 0.8);
  overflow: hidden;
}
._guideIndexNav__list {
  list-style: none;
  margin: -8px 0 0 -8px;
  padding: 8px;
  font-size: 0;
  line-height: 0;
}
._guideIndexNav__item {
  display: inline-block;
  vertical-align: top;
  padding: 8px 0 0 8px;
}
._guideIndexNav__link {
  display: block;
  text-decoration: none;
  font-family: var(--guideFontFamilyCode);
  font-size: 16px;
  line-height: 1.3;
  font-weight: 700;
  color: var(--guideWhite);
  padding: 6px 16px;
  border-radius: 4px;
  background-color: var(--guideGreen800);
}

/* _guideIndexSpec */
._guideIndexSpec {
  border-top: 1px solid var(--guideGreen200);
}
._guideIndexSpec > table {
  width: 100%;
  table-layout: fixed;
  margin: 0;
  padding: 0;
  border-collapse: separate;
  border-spacing: 0;
  box-sizing: border-box;
}
._guideIndexSpec > table > thead > tr > th,
._guideIndexSpec > table > tbody > tr > td,
._guideIndexSpec > table > tfoot > tr > td {
  box-sizing: border-box;
  font-family: var(--guideFontFamilyCode);
  font-size: 13px;
  line-height: 1.3;
  color: var(--guideGray900);
  text-align: center;
  vertical-align: top;
  padding: 6px 8px;
  word-break: break-all;
  border: 0 solid var(--guideGreen100);
}
._guideIndexSpec > table > thead > tr > th + th,
._guideIndexSpec > table > tbody > tr > td + td,
._guideIndexSpec > table > tfoot > tr > td + td {
  border-left-width: 1px;
}
._guideIndexSpec > table > thead > tr > th {
  border-color: var(--guideGreen100);
  border-bottom-width: 1px;
  background-color: var(--guideGreen50);
}
._guideIndexSpec > table > tbody > tr > td {
  border-bottom-width: 1px;
}

/* _guideIndexSettingCodeGroup */
._guideIndexSettingCodeGroup {
  border: 0 solid var(--guideYellow200);
  border-width: 1px 0;
}

/* _guideIndexSettingCode */
._guideIndexSettingCode ~ ._guideIndexSettingCode {
  border-top: 1px solid var(--guideYellow200);
}
._guideIndexSettingCode__button {
  padding: 8px 16px;
  font-family: var(--guideFontFamilyCode);
  font-size: 16px;
  line-height: 1.3;
  color: var(--guideYellow900);
  background-color: var(--guideYellow50);
}
._guideIndexSettingCode__button:hover {
  background-color: var(--guideYellow100);
}
._guideIndexSettingCode__view {
  display: none;
  overflow: hidden;
}
._guideIndexSettingCode.isShow ._guideIndexSettingCode__view {
  display: block;
}

/* _guideWrap */
._guideWrap {
  min-width: 280px;
}

/* _guideSection */
._guideSection {
  padding: 0 16px;
}
._guideSection + ._guideSection {
  margin-top: 40px;
}
._guideSection__title {
  margin: 0 -16px 40px;
  font-family: var(--guideFontFamilyCode);
  font-size: 32px;
  line-height: 1.3;
  color: var(--guideWhite);
  padding: 12px 16px;
  background-color: var(--guidePrimary900);
}

/* _guideSubSection */
._guideSubSection {
  margin: 40px 0;
}
._guideSubSection__title {
  margin: 0 0 24px;
  font-family: var(--guideFontFamilyCode);
  font-size: 24px;
  line-height: 1.3;
  color: var(--guideGray900);
}

._guideSubSection > ._guideSubSection {
  margin: 24px 16px;
}
._guideSubSection > ._guideSubSection > ._guideSubSection__title {
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 16px;
}
._guideSubSection > ._guideSubSection > ._guideCodeView,
._guideSubSection > ._guideSubSection > ._guideDescription,
._guideSubSection > ._guideSubSection > ._guideTable {
  margin-top: 16px;
  margin-bottom: 16px;
}

._guideSubSection > ._guideSubSection > ._guideSubSection {
  margin-top: 16px;
  margin-bottom: 16px;
}
._guideSubSection > ._guideSubSection > ._guideSubSection > ._guideSubSection__title {
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 8px;
}
._guideSubSection > ._guideSubSection > ._guideSubSection > ._guideCodeView,
._guideSubSection > ._guideSubSection > ._guideSubSection > ._guideDescription,
._guideSubSection > ._guideSubSection > ._guideSubSection > ._guideTable {
  margin-top: 8px;
  margin-bottom: 8px;
}

/* _guidePreview */
._guidePreview {
  padding: 40px 16px;
  border-radius: 8px;
  background-color: var(--guideWhite);
  box-shadow: 0 0 0 1px var(--guideGray50) inset;
}
._guidePreview.isTransparent {
  background-image: linear-gradient(45deg, #e5e5e5 25%, transparent 25%), linear-gradient(-45deg, #e5e5e5 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #e5e5e5 75%),
    linear-gradient(-45deg, transparent 75%, #e5e5e5 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  background-color: #f7f7f7;
  box-shadow: none;
}
._guidePreview__controller {
  position: relative;
}
._guidePreview__block {
  position: absolute;
  left: 0;
  bottom: 10px;
  font-size: 0;
  line-height: 0;
}
._guidePreview__text {
  display: inline-block;
  vertical-align: top;
  font-family: var(--guideFontFamilyCode);
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  margin-right: 8px;
  color: var(--guideGray900);
}
._guidePreview__switch {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 40px;
  height: 20px;
  border-radius: 100px;
  background-color: var(--guideGray50);
  transition: background-color 0.2s;
}
._guidePreview__switch::before {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--guideWhite);
  box-shadow: 0 0 6px rgba(var(--guideBlackRgb), 0.15);
  transition: left 0.2s;
}
._guidePreview__switch.isActive {
  background-color: var(--guidePrimary600);
}
._guidePreview__switch.isActive::before {
  left: 22px;
}

/* _guideComponentCode */
._guideComponentCode {
  margin: 8px 0;
}
._guideComponentCode__button {
  padding: 8px 16px;
  font-family: var(--guideFontFamilyCode);
  font-size: 16px;
  line-height: 1.3;
  color: var(--guideGreen900);
  border-radius: 4px;
  background-color: var(--guideGreen100);
}
._guideComponentCode__button:hover {
  background-color: var(--guideGreen200);
}
._guideComponentCode__view {
  display: none;
  margin-top: 4px;
  border-radius: 8px;
  overflow: hidden;
}
._guideComponentCode.isShow ._guideComponentCode__view {
  display: block;
}

/* _guideNav */
._guideNav__block {
  position: fixed;
  z-index: 100;
  left: 0;
  bottom: 0;
  width: 100%;
  min-width: 1900px;
  border-top: 1px solid rgba(var(--guideGray100Rgb), 0.8);
  background-color: rgba(var(--guideWhiteRgb), 0.8);
  overflow: hidden;
}
._guideNav__list {
  list-style: none;
  margin: 0;
  padding: 8px 0 8px 8px;
  font-size: 0;
  line-height: 0;
  overflow: auto;
  white-space: nowrap;
}
._guideNav__item {
  display: inline-block;
  vertical-align: top;
  padding-right: 8px;
}
._guideNav__link {
  display: block;
  text-decoration: none;
  font-family: var(--guideFontFamilyCode);
  font-size: 16px;
  line-height: 1.3;
  font-weight: 700;
  color: var(--guideWhite);
  padding: 6px 16px;
  border-radius: 4px;
  background-color: var(--guideGreen800);
}

/* _guideCodeView */
._guideCodeView {
  margin: 24px 0;
  border-radius: 8px;
  overflow: hidden;
}

/* _guideDescription */
._guideDescription {
  padding: 16px;
  font-family: var(--guideFontFamilyCode);
  font-size: 16px;
  line-height: 1.3;
  margin: 24px 0;
  border-radius: 8px;
  background-color: rgba(var(--guideGray50Rgb), 0.3);
}

/* _guideTable */
._guideTable {
  margin: 24px 0;
  border-radius: 8px;
  background-color: var(--guidePrimary50);
  overflow: auto;
}
._guideTable > table {
  width: 100%;
  min-width: 1600px;
  table-layout: fixed;
  margin: 0;
  padding: 0;
  border-collapse: separate;
  border-spacing: 0;
  box-sizing: border-box;
}
._guideTable > table > thead > tr > th,
._guideTable > table > tbody > tr > td,
._guideTable > table > tfoot > tr > td {
  box-sizing: border-box;
  font-family: var(--guideFontFamilyCode);
  font-size: 16px;
  line-height: 1.3;
  color: var(--guideGray900);
  text-align: left;
  vertical-align: top;
  padding: 8px 16px;
  word-break: break-all;
  border: 0 solid var(--guidePrimary100);
}
._guideTable > table > thead > tr > th {
  border-color: var(--guidePrimary200);
  border-bottom-width: 1px;
}
._guideTable > table > tbody > tr + tr > td {
  border-top-width: 1px;
}
._guideTable ._guideCodeView {
  margin: 8px 0 0;
}
._guideTable > table > thead > tr > th._guideTable__name {
  width: 350px;
}
._guideTable > table > thead > tr > th._guideTable__type {
  width: 300px;
}
._guideTable > table > thead > tr > th._guideTable__methods {
  width: 650px;
}
._guideTable > table > thead > tr > th._guideTable__arguments {
  width: 300px;
}
._guideTable > table > thead > tr > th._guideTable__default {
  width: 300px;
}
._guideTable > table > tbody > tr > td._guideTable__name {
  color: var(--guidePrimary700);
}
._guideTable > table > tbody > tr > td._guideTable__type {
  color: var(--guideGreen600);
}
._guideTable > table > tbody > tr > td._guideTable__methods ._guideCodeView {
  margin: 0;
}
._guideTable > table > tbody > tr > td._guideTable__arguments {
  color: var(--guideYellow600);
}
._guideTable > table > tbody > tr > td._guideTable__default {
  color: var(--guideRed600);
}

/* _guideTable--secondary */
._guideTable--secondary {
  margin: 8px 0 0;
  background-color: var(--guidePrimary100);
}
._guideTable--secondary > table {
  min-width: 0;
}
._guideTable--secondary > table > thead > tr > th,
._guideTable--secondary > table > tbody > tr > td,
._guideTable--secondary > table > tfoot > tr > td {
  border-color: var(--guidePrimary200);
}
._guideTable > table > thead > tr > th {
  border-color: var(--guidePrimary300);
}
._guideTable--secondary > table > thead > tr > th._guideTable__name {
  width: 200px;
}
._guideTable--secondary > table > thead > tr > th._guideTable__type {
  width: 150px;
}
._guideTable--secondary > table > thead > tr > th._guideTable__methods {
  width: 350px;
}
._guideTable--secondary > table > thead > tr > th._guideTable__arguments {
  width: 150px;
}
._guideTable--secondary > table > thead > tr > th._guideTable__default {
  width: 150px;
}

/* _guidePopupWrap */
._guidePopupWrap {
  padding: 0 16px;
}
._guidePopupWrap::before,
._guidePopupWrap::after {
  content: '';
  display: table;
}
